@import url('https://fonts.googleapis.com/css2?family=Georama:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');

body{
}
.header_img{
	filter: drop-shadow(10px 10px 4px black);
	border-radius: 5%;
	transform: rotate(5deg);
	margin: 0 auto;
}
header{
	width: 55%;
	margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: row;
}
h1{
	text-align: center;
}


.images{
	width: 300px;
    font-style: italic;
}

.article{
	font-family: 'Heebo', sans-serif;
	column-gap: 40px;
    flex-flow: column wrap;
    columns: auto 200px;
}

.gallery{
	align-items: center;
	width: 150px;
    padding: 10px;
}

section{
	margin-top: 50px;
}

.paragraf_img{
	width: 50%;
}

blockquote{
	color: red;
	padding: 3%;
	font-family: 'Georama', sans-serif;
}

figcaption{
	font-family: 'Georama', sans-serif;
}
footer{
	clear: both;
    position: relative;
	background-color: #dedede;
	margin-top: 100px;
	font-family: 'Heebo', sans-serif;
	text-align: center;
}

@media (max-width: 800px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
    .images{
        order: 2;
    }
    .article {
        order: 1;
        column-count: 1;
    }
    header {
        width: 100%;
    }
    img.header {
        width: 90%;
    }

} 

